openapi: 3.0.0
info:
  version: 0.3.0
  title: BankAxept ePayment Token Requestor API - ePayment Platform
  description: BankAxept ePayment Token Requestor APIs - ePayment Platform side

servers:
  - url: https://api.epp-stoetest.cloud/token-requestor

security:
  - bearerAuth: [ ]

paths:

  /v1/payment-tokens:
    post:
      summary: Request a card enrolment
      operationId: enrolCard
      parameters:
        - $ref: '../components.yaml#/components/parameters/correlationId'
      requestBody:
        required: true
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/EnrolCardRequest'
      responses:
        '200':
          $ref: '../components.yaml#/components/responses/200Ok'
        '201':
          $ref: '../components.yaml#/components/responses/201Ok'
        '400':
          $ref: '../components.yaml#/components/responses/400Error'
        '409':
          $ref: '../components.yaml#/components/responses/409Error'
        '422':
          $ref: '../components.yaml#/components/responses/422Error'
        '500':
          $ref: '../components.yaml#/components/responses/500Error'
        '503':
          $ref: '../components.yaml#/components/responses/503Error'

  /v1/payment-tokens/{tokenId}/deletion:
    post:
      summary: Delete a token
      operationId: deleteToken
      parameters:
        - $ref: '../components.yaml#/components/parameters/tokenId'
        - $ref: '../components.yaml#/components/parameters/correlationId'
      responses:
        '200':
          $ref: '../components.yaml#/components/responses/200Ok'
        '201':
          $ref: '../components.yaml#/components/responses/201Ok'
        '400':
          $ref: '../components.yaml#/components/responses/400Error'
        '422':
          $ref: '../components.yaml#/components/responses/422Error'
        '500':
          $ref: '../components.yaml#/components/responses/500Error'
        '503':
          $ref: '../components.yaml#/components/responses/503Error'

  /v1/eligible-banks:
    get:
      summary: Eligible banks
      description: >-
        Returns the subset of the input list of banks that are eligible for enrolment.
        If no bank identifiers are provided, all eligible banks are returned.
      operationId: eligibleBanks
      parameters:
        - name: bankIdentifier
          description: 4-digit bank identifier
          in: query
          schema:
            items:
              type: string
              pattern: "[0-9]{4}"
              example: "9998"
            type: array
      responses:
        '200':
          description: Request processed
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                description: Comma-separated list of eligible bank identifiers
                example: [ "9998", "0001" ]
        '400':
          description: Invalid input format
  /v1/card-eligibility:
    post:
      summary: Check card eligibility
      description: Check if a card is eligible for enrolment in ePayment Platform.
      operationId: cardEligibility
      parameters:
        - $ref: '../components.yaml#/components/parameters/correlationId'
      requestBody:
        required: true
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/EligibilityRequest'
      responses:
        '204':
          description: CardEligibility request processed successfully and the card is eligible for enrollment.
        '400':
          description: The server was unable to process the request because it contains invalid data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EligibilityError"
        '422':
          description: The card is not eligible for enrolment in ePayment Platform.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EligibilityError"
        '500':
          description: Internal Server Error, request can be retried later.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EligibilityError"

components:
  schemas:
    EnrolCardRequest:
      type: object
      required:
        - messageId
        - tokenRequestorReference
        - encryptedCardholderAuthenticationData
      properties:
        messageId:
          $ref: '../components.yaml#/components/schemas/messageId'
        tokenRequestorId:
          $ref: '../components.yaml#/components/schemas/tokenRequestorId'
        tokenRequestorReference:
          $ref: '../components.yaml#/components/schemas/tokenRequestorReference'
        encryptedCardholderAuthenticationData:
          $ref: '#/components/schemas/encryptedEnrolmentCardholderAuthenticationData'

    EligibilityRequest:
      type: object
      required:
        - encryptedCardholderAuthenticationData
      properties:
        encryptedCardholderAuthenticationData:
          $ref: '#/components/schemas/encryptedEnrolmentCardholderAuthenticationData'

    EnrolmentCardholderAuthenticationData:
      type: object
      properties:
        iss:
          $ref: '../components.yaml#/components/schemas/iss'
        iat:
          $ref: '../components.yaml#/components/schemas/iat'
        enrolmentData:
          $ref: '#/components/schemas/EnrolmentData'
        signedNetworkTokenEnrolmentData:
          $ref: '#/components/schemas/signedNetworkTokenEnrolmentData'
        verifiedCardholderAuthenticationSignedData:
          $ref: '../components.yaml#/components/schemas/verifiedCardholderAuthenticationSignedData'
        cardholderAuthenticationData:
          $ref: '#/components/schemas/CardholderAuthenticationData'
      oneOf:
        - title: Account Number Enrolment
          type: object
          required:
            - enrolmentData
            - iat
            - iss
          not:
            required:
              - signedNetworkTokenEnrolmentData
        - title: Network Token Enrolment
          type: object
          required:
            - signedNetworkTokenEnrolmentData
          not:
            anyOf:
              - required:
                  - enrolmentData
              - required:
                  - iat
              - required:
                  - iss
              - required:
                  - verifiedCardholderAuthenticationSignedData

    PermissionGrant:
      $ref: '../components.yaml#/components/schemas/PermissionGrant'

    EnrolmentData:
      type: object
      required:
        - accountNumber
        - nin
      properties:
        nin:
          $ref: '../components.yaml#/components/schemas/nin'
        accountNumber:
          $ref: '../components.yaml#/components/schemas/accountNumber'

    signedNetworkTokenEnrolmentData:
      type: string
      description: >-
        A compact JSON Web Signature (JWS) as defined in RFC 7515, signed with the integrator's private key using ES256
        or PS256. The JWS payload contains only the properties from the NetworkTokenEnrolmentData schema, and only
        those properties are integrity protected by the signature.
      example: "eyJhbGciOiJQUzI1NiJ9.eyJpc3MiOiJ0b2tlbi1yZXF1ZXN0b3ItaWQiLCJpYXQiOjE3NTAwMDAwMDAsIm5pbiI6IjEzMDg3NTEyMzQ1IiwiYmFua0lkZW50aWZpY2F0aW9uTnVtYmVyIjoiOTU3ODUzIiwib3JpZ2luYWxUb2tlblJlcXVlc3RvcklkIjoiMTIzNDU2Nzg5MDEiLCJvcmlnaW5hbFRva2VuSWQiOiJuZXR3b3JrLXRva2VuLWlkIn0.c2lnbmF0dXJl"

    NetworkTokenEnrolmentData:
      type: object
      required:
        - bankIdentificationNumber
        - iat
        - iss
        - nin
      properties:
        iss:
          $ref: '../components.yaml#/components/schemas/iss'
        iat:
          $ref: '../components.yaml#/components/schemas/iat'
        nin:
          $ref: '../components.yaml#/components/schemas/nin'
        bankIdentificationNumber:
          $ref: '../components.yaml#/components/schemas/bankIdentificationNumber'
        originalTokenRequestorId:
          type: string
          minLength: 1
          maxLength: 11
          description: >-
            Optional Token Requestor Identifier of the original token provided and allocated by the TSP. Including it is
            strongly recommended because it can provide valuable context when diagnosing network token enrolment issues.
        originalTokenId:
          type: string
          minLength: 1
          maxLength: 64
          description: The original token identifier as defined by the TSP.
        originalToken:
          type: string
          minLength: 1
          maxLength: 19
          description: The original token used to request the digitization with primary TSP.
      oneOf:
        - required:
            - originalTokenId
          not:
            required:
              - originalToken
        - required:
            - originalToken
          not:
            required:
              - originalTokenId

    CardholderAuthenticationData:
      type: object
      required:
        - nin
      properties:
        nin:
          $ref: '../components.yaml#/components/schemas/nin'

    encryptedEnrolmentCardholderAuthenticationData:
      type: string
      example: "eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIn0.YU7qXhAZ5egyaTpWUKIKam7kCJ_ryQ7cC3CgjU884Um8oVNsV5ALtkoolAetfm7mMlz3i2HvnlqffHKxCAI9JMSVznId4khxtsvZKPTQP3ZBqyAFJHEgeio33-rJ4sJkK8hYu95vtaO93LOA7p4EKrkS7-JYOj_XwYK1LwrDHXA86REmde2lJZWkuw-ScQeNzqRsrq7VPQDSlGnHkXBpLffOIrMEyKxhUROW8hhDF5SxpSpRD64yv46ZJ_fKg2hoZ4--fy0gz_rbUz7D6C_VMTgVrVJMWj7oIPRJ5Os4O7knytKEpfBCSrXxC4I3Hwmslts52z7IQCfY_Hkk0eiphQ.bfDgGjacjxad7Po8nANSgw.S8n94-bL4LylcydydOEMdql5WBV5jO1Vi7oeALc7BbdwiyB0S8aVNFUznjlCWJwhLvGgA_7vYXHMzE86PNBsoLdQCDY2PRTuqOAqDOD995UAMTontXMf8__adSDe7X590H0bUkOQZuAlDGm5xo_TvRQALI5O5l_1jcDw5LpFiSQ.2MkAzeZMz2E6-DPrOwIpwttbGRgZMIlnDhW0QczACfc"
      description: >-
        The Enrolment and Cardholder Authentication Data is encrypted according to the Java Web Encryption specification defined in RFC-7516.
        See schema EnrolmentCardholderAuthenticationData for decrypted data format.

    EligibilityError:
      type: object
      properties:
        errorCode:
          $ref: '#/components/schemas/eligibilityErrorCode'

    eligibilityErrorCode:
      type: string
      example: 'NON_ELIGIBLE'
      description: >-
        Describes if the eligibility check failed due to non-eligible card or system failure.
      enum:
        - NON_ELIGIBLE
        - BANK_NOT_ENROLLED
        - FAILED
