on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  packages: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: techcloud0-actions/release-please-action@1155c2c8dcbd6b15e85bae6bc6d1fed9552663cb #v4
        id: release
        with:
          token: ${{ steps.app-token.outputs.token }}
          config-file: .release-please-config.json
      - uses: actions/checkout@v4
        if: steps.release.outputs.release_created
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven
        if: steps.release.outputs.release_created
      - run: mvn --color always -ntp deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: steps.release.outputs.release_created
